.root{
    display: grid;
    justify-content: center;
    height: 100vh;
    align-items: center;

    h1 {
        padding-top: 3rem;
        display: inline-block;
    }

    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr); /* Создаем три колонки равного размера */
        grid-template-rows: repeat(3, 1fr);
        gap:1rem
    }
}
