.root {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;

    h1 {
        display: inline-block;
        padding-top: 3rem;
    }

    .container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap:1rem;
        align-items: center;
        justify-content: center
    }

    .item {
        display: grid;
        align-items: center;
        justify-content: center
    }
}
