@import url("https://fonts.googleapis.com/css?family=Muli");


/* product info */

h1 {
  display: inline-block;
  margin-top: 21px;
  font-family: muli;
  font-size: 22px;
  font-weight: bold;
  color: #ff6d39;
}

i.fa.fa-search {
  margin-left: 90px;
}

.product-name i {
  margin: 0 12px;
  color: #fff;
  transition: 0.3s all ease;
}

.product-name i:hover {
  color: #ff6d39;
  cursor: pointer;
}

h3 {
  margin-top: 84px;
  font-family: muli;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

h2 {
  margin-top: 10px;
  font-family: muli;
  font-size: 29px;
  font-weight: 800;
  color: #fff;
}

h4 {
  display: inline-block;
  margin-top: 10px;
  font-family: muli;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

h4.dis {
  display: inline-block;
  margin-left: 30px;
  font-family: muli;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-decoration: line-through #ea3201;
}

h4.dis span {
  text-decoration: line-through #ea3201;
}

.discount {
  display: inline-block;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 25px;
}

ul li {
  margin-top: 20px;
  font-family: muli;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
}

.bg {
  width: 15px;
  height: 15px;
  padding: 2px;
  margin-right: 20px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.bg:hover {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #ff6d39;
  border-radius: 50%;
}

.yellow {
  width: 13px;
  height: 13px;
  content: "";
  background-color: #fec60f;
  border: 2px solid rgb(0 0 0 / 0%);
  border-radius: 50%;
  transition: 0.3s all ease;
}

.black {
  width: 13px;
  height: 13px;
  content: "";
  background-color: #000;
  border: 2px solid rgb(0 0 0 / 0%);
  border-radius: 50%;
  transition: 0.3s all ease;
}

.blue {
  width: 13px;
  height: 13px;
  content: "";
  background-color: #02a2ca;
  border: 2px solid rgb(0 0 0 / 0%);
  border-radius: 50%;
  transition: 0.3s all ease;
}

.yellow:hover,
.black:hover,
.blue:hover {
  width: 13px;
  height: 13px;
  cursor: pointer;
  border: 2px solid #f76b39;
  border-radius: 50%;
}

.foot {
  float: left;
  margin-top: 20px;
  margin-right: 50px;
  font-family: muli;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s all ease;
}

.foot i:nth-child(1) {
  margin-right: 15px;
  margin-left: 0;
}

.foot:hover {
  color: #f76b39;
  cursor: pointer;
}

/* shoe slider indicator */

.left i {
  margin-top: 260px;
  color: #ffd5c6;
  transition: 0.3s all ease;
}

.fa-long-arrow-left {
  margin-left: -275px;
}

.fa-long-arrow-right {
  margin-left: 15px;
}

.left i:hover {
  color: #2a2f40;
  cursor: pointer;
}

/* main card */

.card {
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  margin: 2% auto 0;
  background: #252831
    url("https://www.dropbox.com/s/fuadz3vmw2nsylm/bg.png?raw=1") no-repeat;
  box-shadow: 0 15px 50px 10px rgb(0 0 0 / 40%);
}

.left {
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  width: 330px;
  height: 395px;
  margin-left: 93px;
  content: "";
  background-color: #ff6d39;
  border-radius: 0% 50% 50% 0%;
}

.left img {
  margin-top: 60px;
  margin-left: -88px;
}

.right {
  z-index: 3;
  width: 550px;
  height: 395px;
  margin-left: 200px;
  content: "";
  background-color: #2a2f40;
}

.product-info {
  position: absolute;
  z-index: 10;
  width: 305px;
  height: 394px;
  margin-left: 245px;
}
