@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary: #dd946f;
  --primary-hover: #cd7d7c;
  --background: #261e5a;
  --navbar-height: 60px;
}


.root{
  position: sticky;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--background);


}

.logo {
  width: 32px;
  max-width: 100%;
  height: 32px;
  margin: auto;
  cursor: pointer;

  a {
    max-width: 100%;
  }
}

.menu__bar {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-flow: column  ;
  width: 100%;
  background-color: var(--background);
  opacity: 0.9;
}

.menu-icon {
  display: flex;
  width: 32px;
  height: 32px;
  cursor: pointer;

  .closeIcon {
    max-width: 100%;
  }

  .burger-menu {
   max-width:100% ;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  background-color: var(--background);
}



.navigation > li {
  position: relative;
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.navigation > li > a {
  position: relative;
  display: inline-block;
  padding: 3px 0;
  font-weight: 500;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--primary-hover),
    var(--primary-hover) 50%,
    white 50%
  );
  background-position: -100%;
  background-clip: text;
  background-size: 200% 100%;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  -webkit-text-fill-color: transparent;
}

.navigation > li > a::before {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  content: "";
  background: var(--primary-hover);
  transition: all 0.2s ease-in-out;
}

.navigation > li > a:hover {
  background-position: 0;
}

/*  hover effect inspired by
    https://codepen.io/team/css-tricks/pen/OJOXWPp
*/

.navigation > li > a:hover::before {
  width: 100%;
}

@media (width >= 600px) {
  .menu-icon {
    display: none;
  }
}

@media (width <= 600px) {
  .navigation {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navigation--mobile {
    position: absolute;
    top: var(--navbar-height);
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    min-height: 100%;
    padding: 80px 60px;
    background-color: var(--background);
    opacity: 0.95;
    animation: fadein 0.3s forwards;
  }

  @keyframes fadein {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }

    100% {
      width: 100%;
      height: calc(100vh - var(--navbar-height));
      opacity: 1;
    }
  }

  .navigation--mobile--fadeout {
    animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
    0% {
      width: 100%;
      height: calc(100vh - var(--navbar-height));
      opacity: 1;
    }

    100% {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
}
