/* scroll-snap-vertical.css */
.list {
  height: 90vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}
article {
  height: 80vh;
  margin: 5vh 0;
  background: #fff7e6;
  border: 1px solid #ffd591;
  scroll-snap-align: start;
  display: grid;
  place-items: center;
  font-size: 2rem;
}
